body {
  font-family: "Open Sans", sans-serif;
  text-align: end;
  margin: 0;
}
.hero-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
#hero {
  width: 592px;
  margin: 72px;
  text-align: center;
}
.imagen-hero-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

img {
  margin: 20px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

span,
a {
  color: #ff9900;
}

p,
#footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}
.line-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.line {
  width: 568px;
  height: 0;
  margin: 0 8px;
  border: 1px solid #eceff2;
}

#balls {
  align-items: right;
}
.subtitulo {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.container-links {
  align-items: center;
  justify-content: center;
  display: flex;
}
