@media screen and (max-width: 1096px) {
    header  {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav {  
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            display: flex;
            font-size: 1.5rem;
            color: var(--content-primary);
            font-weight: bolder;
            img {
                width: 38px;
                height: 38px;
            }
        }
    }
    #introduction {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 2.5rem;
            font-weight: bolder;
        }
    }
    .tutorial {
        margin-top: 2px;
        display: block;
        div {
            margin-top: 36px;
        }
        img {
            width: 20px;
        }
    }
    #number-inputs {
        margin-left: 108px;
        h2 {
            color: var(--content-primary);
            font-size: 1.5rem;
            font-weight: bolder; 
        }
        p {
            color: var(--content-secondary);
            font-size: 1rem;
        }
        span {
            font-size: 1rem;
            color: var( --content-secondary);
        }
        label {
            margin-left: 8px;
            font-size: 1rem;
            color: var(--content-primary);
        }
        .number-style {
            appearance: textfield;
            color: var(--content-primary);
            font-weight: bold;
            font-size: 2rem;
            border-radius: .5rem;
            background-color: var(--bg-secondary);
            width: 86px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        button {
            width: 100%;
            height: 56px;
            background-color: var(--bg-tertiary);
            color: var(--content-primary);
            border-radius: .5rem;
            transition: 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-top: 2px;
                margin-left: .4rem;
                transition: 0.2s;
                width: 22px;
            }
        }
        button:hover {
            background-color: var(--bg-secondary);
            img {
                transform: translateX(10px);
            }
        }
    
    }
    
}