body {
  background-color: #efefef;
}
header {
  border-radius: 10px;
  background-color: #535971;
  height: 436px;
}
.container-textos-head {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 10px;
  color: white;
}
.titulo {
  font-size: 48px;
  font-family: "Staatliches", sans-serif;
}
.label-style-nome {
  margin-left: 6px;
}
.subtitulo {
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}
.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 750px;
  background-color: #ffffff;
}
.botao-container {
  border-radius: 0 0 20px 20px;
  height: 160px;
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #535971;
}
.background-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#input-font {
  font-family: "Poppins", sans-serif;
  color: #4e4958;
  font-size: 14px;
}
.input-style-nome {
  width: 300px;
  margin-left: 6px;
  height: 56px;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid #e6e6f0;
}
.input-style {
  width: 622px;
  height: 56px;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid #e6e6f0;
}
.input-style-data {
  width: 400px;
  height: 56px;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid #e6e6f0;
  margin-right: 20px;
}
.input-style-hora {
  width: 180px;
  height: 56px;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid #e6e6f0;
}
.data-hora-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.titulo-form {
  font-size: 24px;
  margin-top: 20px;
  color: #535971;
  font-family: "Staatliches", sans-serif;
}
.titulo-form-mentoria {
  font-size: 20px;
  margin-top: 20px;
  color: #535971;
  font-family: "Staatliches", sans-serif;
}
.separador {
  background-color: #e6e6f0;
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}
.separador-container {
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container-nome-sobrenome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-email-senha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-email,
.container-senha {
  width: 100%;
}
.label-style-nome,
.label-style {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}
.botao-container {
  margin-top: 50px;
}
.botao-footer {
  font-family: "Staatliches", sans-serif;
  background-color: #ff5374;
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  width: 608px;
  height: 55px;
}
.container-mentoria-info {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-mentorias-datas {
  display: block;
}
.container-email-info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.span {
  color: #c1bccc;
}
