body {
  background-color: white;
}
.center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.main-imagen-container {
  margin-top: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.subtitulos-container {
  text-align: center;
  width: 500px;
}
.footer-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.line {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #eceff2;
  width: 500px;
  height: 1px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-image-container {
  width: 100%;
  height: 100%;
}
.image-footer {
  width: 100%;
  height: 200px;
}
.titulo {
  font-family: "Dosis", sans-serif;
  color: #3f3d56;
}
.spantitulo {
  color: #ee24ff;
}
.subtitulo {
  font-family: "Dosis", sans-serif;
  color: #828282;
}
.subtitulos-strong {
  color: #3f3d56;
}
.contatos {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  color: #3f3d56;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.contatos-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
