body {
    background-color: rgb(17, 17, 22);
    font-family: "SUSE", sans-serif;
}

header {
    margin-top: 100px;
    margin-bottom: 80px;
    color: white;
}
header span{
    color: gray;
}
h1 {
    margin-bottom: 10px;
}
.text-aligh {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-langs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#contain-pj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 120px;
}
h1 {
    margin-top: 10px;
    color: white;
}
h3 {
    color: white;
}
p {
    color: rgb(168, 168, 168);
    margin-bottom: 20px;
}
.bt-main {
    background-color: rgba(0, 0, 0, 0.144);
    border: 1px solid rgba(244, 244, 255, 0.068);
    padding: 15px;
    font-weight: bold;
    color: rgb(206, 206, 206);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}
.bt-main:hover {
    background-color: rgba(0, 0, 0, 0.144);
    text-decoration: underline;
    border: 1px solid rgba(244, 244, 255, 0.123);
    filter: brightness(6);
}
.pj {
    text-align: center;
    margin: 30px;
    width: 340px;
    height: 460px;
    background: rgba(29, 29, 34, 0.74);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(68, 65, 100, 0.3);
    transition: 0.5s;
}
.pj img {
    height: 300px;
    margin-top: 4px;
    border-radius: 16px;
    width: 98%;
    object-fit: cover;
}
.pj:hover {
    filter: brightness(2);
    transform: scale(1.05);
}
#sobre-min {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}